# Variables

In [1]:
print(225+2.0)

227.0

In [2]:
type(227)

int

In [3]:
230*2==2*230
type(230*2==2*230)

bool

In [4]:
round(1.056)

1

In [5]:
type(1)

int

In [6]:
import math
math.ceil(14.56)

15

In [7]:
type(15)

int

In [8]:
movie_name=input("Full Name of Movie")
director_name=input("Director Name")
production_year=input("Year of Production")

Full Name of Moviegj
Director Namenk
Year of Productionjk

In [9]:
print(f" My favorite movie is {movie_name}, which was directed by {director_name} and it was premiered in {production_year}")

 My favorite movie is gj, which was directed by nk and it was premiered in jk

In [10]:
Stocks=[]
Stocks.append("SBUX")
Stocks.append("VWAGY")
Stocks.append("IBM")
Stocks.append("BABA")
Stocks.append("MCD")
print(Stocks)

['SBUX', 'VWAGY', 'IBM', 'BABA', 'MCD']

# If/For Loop

In [11]:
if(25%2)==0:
    print("{0} is Even Number".format(25))
else:
    print("{0} is odd number".format(25))

25 is odd number

In [12]:
wine_list=["Thomas Fogarty 2018 Razorback Vineyard Pinot Noir", "Migration 2018 Drum Canyon Vineyard Pinot Noir", "Zorah Voski 2018", "Curto Marco 2017 Arborina (Barolo)","Calera 2018 Jensen Vineyard Pinot Noir", "Hin Areni Red 2014"]
wine_list1=[]

In [13]:
for i in wine_list:
    if "Pinot" in i:
        wine_list1.append(i + ":  Pinot Noir")
    elif "Areni" in i:
        wine_list1.append(i + ":  Areni")
    else:
        wine_list1.append(i + ": Other")
wine_list1

['Thomas Fogarty 2018 Razorback Vineyard Pinot Noir:  Pinot Noir',
 'Migration 2018 Drum Canyon Vineyard Pinot Noir:  Pinot Noir',
 'Zorah Voski 2018: Other',
 'Curto Marco 2017 Arborina (Barolo): Other',
 'Calera 2018 Jensen Vineyard Pinot Noir:  Pinot Noir',
 'Hin Areni Red 2014:  Areni']

# Dictionaries

In [14]:
dict_one={"SBUX":"Starbucks", "MCD":"McDonald's Corporation", "IBM":"International Business Machines Corporation", "VWAGY":"Volkswagen", "BABA":"Alibaba Group Holding Limited"}

In [15]:
print(dict_one)

{'SBUX': 'Starbucks', 'MCD': "McDonald's Corporation", 'IBM': 'International Business Machines Corporation', 'VWAGY': 'Volkswagen', 'BABA': 'Alibaba Group Holding Limited'}

# Functions

In [16]:
list=[-10,0,12,3,8,5,6,8,-3]

In [17]:
len(list)

9

In [18]:
for i in range(len(list)):
    for j in range(i+1,len(list)):
        if list[i]>list[j]:
            list[i],list[j]=list[j],list[i]
print(list[-1])

12

In [ ]:
while True:
    try:
        rate=int(input("Employee's Satisfaction Rate"))
        if rate==1:
            print("Strongly dissatisfied")
        elif rate==2:
            print("Dissatisfied")
        elif rate==3:
            print("Neither dissatisfied nor satisfied")
        elif rate==4:
            print("Satisfied")
        elif rate==5:
            print("Very satisfied")
        elif rate>5:
            print("Please use 1-5 range to rate your satisfaction")
            
    except:
        print("Please enter numeric data")

Employee's Satisfaction Ratej
Please enter numeric data
Employee's Satisfaction Rate6
Please use 1-5 range to rate your satisfaction
Employee's Satisfaction Rate1
Strongly dissatisfied
Employee's Satisfaction Rate2
Dissatisfied
Employee's Satisfaction Rate3
Neither dissatisfied nor satisfied
Employee's Satisfaction Rate4
Satisfied
Employee's Satisfaction Rate4
Satisfied
Employee's Satisfaction Rate5
Very satisfied

# Data

In [ ]:
import pandas as pd

In [ ]:
Affairs=pd.read_excel(r"C:\Users\User\Desktop\Affairs.xlsx")
print(Affairs)

In [ ]:
Affairs.shape

In [ ]:
for i in Affairs.columns:
    print(i,'has',Affairs[i].isnull().sum(),' missing values')

In [ ]:
Affairs.isna().sum().sum()

In [ ]:
Affairs.isna().any().sum()

In [ ]:
num_data=Affairs.select_dtypes(exclude=['object'])
num_data.info()

In [ ]:
nonnum_data=Affairs.select_dtypes(include=['object'])
nonnum_data.info()

In [ ]:
id904=Affairs[Affairs["ID"]==904]
gender=id904["gender"].values[0]
ym=int(id904["years married"].values[0])
print(f"The gender of this customer is {gender}. \nThis customer has been married for {ym} years.")

In [ ]:
print(Affairs.education.mean())

In [ ]:
print(Affairs["years married"].median())

In [ ]:
Affairs["rating"].quantile(0.75)

In [ ]:
Affairs.groupby(["affairs"])["age"].mean()

In [ ]:
Affairs[Affairs["affairs"]=="Yes"].age.mean()

In [ ]:
for i in nonnum_data.columns:
    print("\n")
    print(i)
    print("\n")
    print(Affairs[i].value_counts())

In [ ]:
for i in Affairs.columns:
    if i=="affairs":
        print(i,Affairs[i].unique())
    elif i=="gender":
        print(i,Affairs[i].unique())
    elif i=="children":
        print(i,Affairs[i].unique())

In [ ]:
data_num = data_drop.select_dtypes(exclude = "object")
data_obj = data_drop.select_dtypes(include = "object")

# Data Transformation

In [ ]:
Affairs_clean=datadrop=Affairs.dropna()
datadrop

In [ ]:
Affairs_clean1=Affairs_clean.drop(["ID"],axis=1)
Affairs_clean1.columns

In [ ]:
Affairs_clean1.shape

In [ ]:
Affairs_clean1.columns.str.replace(' ','_')

In [ ]:
data_num=Affairs_clean1.select_dtypes(exclude=["object"])
data_num

In [ ]:
data_obj=Affairs_clean1.select_dtypes(include=["object"])
data_obj

# Data Visualization

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(10,6))

Affairs.groupby(['affairs'])['age'].mean().plot(kind='bar')

plt.xlabel('affairs') 
plt.ylabel('age')
plt.title('Bar chart for average age and affairs') 

plt.show()

In [ ]:
for i in data_num.columns:
    plt.hist(data_num[i])
    plt.show()